<app-header></app-header>

<div class="container">
  <h4 style="border-bottom: 1px solid;display: table;margin: 0 auto;">Please update 'Auction Settings' before adding Teams & Players</h4>
  <div class="row justify-content-md-center" >
     
    <div class="col-md-8 table-wraper">
       <div class="row"> <div class="col-md-12 setting-heading"> <h5>Manage Auction Settings</h5></div></div>
      <div class="row" >
        
        <div class="col-md-6 inside-padding">
        
          <div class="row" >
            <div class="col ">
              <span>Auction Currency</span>
            </div>
            <div class="col text-center">
              <span class="value">{{ds.auctionSettings.AuctionCurrency}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 inside-padding">
          <input class="inputstyle" name="AuctionCurrency" #ccy>
          <button class="btn btn-primary updatebtn" [disabled]="ds.auctionStatus=='Started'" (click)="updateSettingsString('AuctionCurrency', ccy)">
            <span>Update</span>
          </button>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 inside-padding">
          <div class="row">
            <div class="col">
              <span>Initial Amount PerTeam</span>
            </div>
            <div class="col text-center">
              <span class="value">{{ds.auctionSettings.InitialAmountPerTeam}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 inside-padding">
          <input class="inputstyle text-center" name="InitialAmountPerTeam" #InitialAmountPerTeam>
          <button class="btn btn-primary updatebtn" [disabled]="ds.auctionStatus=='Started'" (click)="updateSettingsNumber('InitialAmountPerTeam', InitialAmountPerTeam)">
            <span>Update</span>
          </button>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 inside-padding">
          <div class="row">
            <div class="col">
              <span>Minimum Bid Amount</span>
            </div>
            <div class="col text-center">
              <span class="value">{{ds.auctionSettings.MinimumBidAmount}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 inside-padding">
          <input class="inputstyle text-center" name="MinimumBidAmount" #MinimumBidAmount>
          <button class="btn btn-primary updatebtn" [disabled]="ds.auctionStatus=='Started'" (click)="updateSettingsNumber('MinimumBidAmount', MinimumBidAmount)">
            <span>Update</span>
          </button>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 inside-padding">
          <div class="row">
            <div class="col">
              <span>Number Of Players PerTeam</span>
            </div>
            <div class="col text-center">
              <span class="value">{{ds.auctionSettings.NumberOfPlayersPerTeam}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 inside-padding">
          <input class="inputstyle text-center" name="NumberOfPlayersPerTeam" #NumberOfPlayersPerTeam>
          <button class="btn btn-primary updatebtn" [disabled]="ds.auctionStatus=='Started'" (click)="updateSettingsNumber('NumberOfPlayersPerTeam', NumberOfPlayersPerTeam)">
            <span>Update</span>
          </button>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 inside-padding">
          <div class="row">
            <div class="col">
              <span>Per TeamSafety BidAmount Multiplier</span>
            </div>
            <div class="col text-center">
              <span class="value">{{ds.auctionSettings.PerTeamSafetyBidAmountMultiplier}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 inside-padding">
          <input class="inputstyle text-center" name="PerTeamSafetyBidAmountMultiplier" #PerTeamSafetyBidAmountMultiplier>
          <button class="btn btn-primary updatebtn" [disabled]="ds.auctionStatus=='Started'" (click)="updateSettingsNumber('PerTeamSafetyBidAmountMultiplier', PerTeamSafetyBidAmountMultiplier)">
            <span>Update</span>
          </button>
        </div>
      </div>
      <div class="row reset-btn">
        <div class="col-md-8">
          <p class="reset-text">Reset all
            <b>players</b> and
            <b>Teams</b> i.e. all transaction done for testing will be deleted. All player will be set to 'unsold'
          </p>
          <p class="reset-text">Please Refresh Page After Reset</p>

        </div>

        <div class="col-md-4 text-center">
          <button class="btn btn-danger middle" type="button" (click)="resetTeams()"><span>Reset All Teams Player</span> 
          </button>
          <!-- <button (click)="ClickME()">
            Delete
          </button> -->
        </div>

      </div>

      <div class="row reset-btn" *ngIf="ds.auctionStatus!='Started'">
        <div class="col-md-8">
          <p class="reset-text">Change Auction Status to Started:Once Auction is 'Started', you can't add, delete Players and Teams.
            Also you can't update settings.
          </p>

        </div>

        <div class="col-md-4 text-center">
          <button class="btn btn-danger middle" type="button" (click)="startAuction()"><span>Start Auction</span> 
          </button>
        </div>
      </div>

      <div class="row reset-btn" *ngIf="ds.auctionStatus=='Started'">
        <div class="col-md-8">
          <p class="reset-text">Stop Auction: You can edit auction settings, insert/delete Players and Teams </p>
        </div>

        <div class="col-md-4 text-center">
          <button class="btn btn-danger tex-center middle" type="button" (click)="stopAuctionAndRestart()"><span>Stop Auction</span> 
          </button>
        </div>

      </div>
    </div>
  </div>
  
  <!-- <div class="col-md-4">
      <div> -->

  <!-- <input class = "btn btn-primary " type="button" value="Reset All Players" (click)="resetPlayers()"> -->
  <!-- <button onclick="JSalert()">Show an Alert</button> -->

  <!-- </div>

    </div> -->


</div>