<div class="player-remaining">
  <h2>

    <span *ngIf="dataService.isAuctionComplete; then DisplayMessage else AuctionIsOn">
    </span>

    <ng-template #AuctionIsOn>Upcoming Players to bid</ng-template>

    <ng-template #DisplayMessage>All players sold!</ng-template>

  </h2>
</div>

<div class="container-fluid text-center" *ngIf="!dataService.isAuctionComplete">
  <div class=" re-back">
    <div class="remaining-player" *ngFor="let player of dataService.unsoldPlayerList">
      <!-- <p> {{player.name |uppercase| truncate : 2 : '' }} </p> -->
      <p><span class="list-number"></span> {{player.name | titlecase | words : 1 : ' ' }} </p>
    </div>
  </div>
</div>