<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Team Register</h2>
        <form #teamForm="ngForm" (ngSubmit)="createTeam(teamForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="dataService.selectedTeam.$key">
            
          <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="dataService.selectedTeam.name" />
          </div> 
          <div class="form-group">         
            <label>Team Image Url</label>
            <input type="text" class="form-control" name="imageUrl" #name="ngModel" [(ngModel)]="dataService.selectedTeam.imageUrl"/>
          </div>
          <div class="form-group">   
              <button class="btn btn-default" type="submit">
                  <i class="fa fa-floppy-o"></i>
                   Submit</button> 
             </div>
            
          </form>
    </div>
    <div class="col-md-6">
      <h3>Team List</h3>
      <table class="table table-sm table-hover">
          <thead>
            <th>Team ID</th>
            <th>Name</th>
           
            <th>Update</th>
            <th>Delete</th>
            
         </thead>
           <tr *ngFor="let team of dataService.teamList">
              <td>{{team.tid + 1}}</td>
              <td>{{team.name}}</td>
             
              <td>
                <a class="btn" (click)="onEdit(team)">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
              </td>
              <td>
                  <a class="btn" (click)="onDelete(team.$key)">
                      <i class="fa fa-trash-o"></i>
                    </a>
              </td>
          </tr>
        </table> 
    </div>
  </div> 
 
</div>



