<app-header></app-header>
<!-- <div class="heading-team">
  <h2>
    teams works
  </h2>
</div> -->
<!-- 
<div *ngFor="let team of teams;"> -->
<!-- {{team | json}} -->
<!-- <div>{{team.description}}</div>
</div> -->
<!-- <button (click)="printTeams()" name="Print teams">Print teamss</button> -->

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-3" *ngFor="let team of teams;">

      <div class="heading-team">
        <div class="team-info">
          <a > {{team.name}}</a><br/> 
        </div>
        </div>
      <div class="row">
      <div class="col">
        <table class="table table-hover table-bordered">
          <thead class="text-center">
            <th>Player Name</th>
            <th>Sold Amount</th>
           
          </thead>
          <tr *ngFor="let p of team.players">
            <!-- <td> {{p | json}} </td> -->
            <td> {{p.name}}</td>
            <td>{{p.biddingAmount}}</td>
          
          </tr>
        </table>
      </div>
    </div>
    </div>
  </div>