<!-- <div class="heading-team">
  <h2>
    teams works
  </h2>
</div> -->
<!-- 
<div *ngFor="let team of teams;"> -->
<!-- {{team | json}} -->
<!-- <div>{{team.description}}</div>
</div> -->
<!-- <button (click)="printTeams()" name="Print teams">Print teamss</button> -->

 <div class="container-fluid">
  <div class="row">
    <div class="col-md-3" *ngFor="let team of dataService.teamList;">
      <div class="heading-team">
        <div class="team-info"><a routerLink="/teams">{{team.name}}</a></div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <img src="{{team.imageUrl}}"   alt="" class="img-fluid mx-auto d-block"> 
        </div>
        <div class="col-sm-7" style="padding-left:0">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td scope="row">Rem Amt</td>
                <td> {{team.remainingAmount}}</td>
              </tr>
              <tr>
                <td scope="row">Res Amt</td>
                <td> {{team.reservedAmount}}</td>
              </tr>
              <tr>
                <td scope="row">NextBD Amt</td>
                <td> {{team.nextBidMaxAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div>Remaining Amount : {{team.remainingAmount}}</div>
      <div>Reserve Amount : {{team.reserveAmount}}</div>
      <div>NextBid Amount : {{team.nextBidMaxAmount}}</div> -->


    </div>
  </div>
</div>