<div class="status-message" >
  <div class="text-center" >
    <p [ngClass]="(msg.type=='info')?'status-message-green':'status-message-red'">{{msg.message}}</p>
  </div>
</div>
 
<div class="row row-margin ">
  <div class=" col-md-2 row-margin "></div>
  <div class=" col-md-4 col-sm-6 ">
   
    <div class="bidding equal">
      <div class="bidding-form text-center">
        <label for="" class="biddin-amount">Bidding Amount </label>
        <input [(ngModel)]="biddingAmount" id="teamName">


        <br>
        <div *ngFor="let team of ds.teamList; let idx = index" class="radio-one">
          <input type="radio" name="radiogroup" (change)="onSelectionChange(team)" [value]="team.id"> &emsp;&emsp;{{team.name}} [{{team.nextBidMaxAmount}}]
        </div>
      </div>
      
      <div class="selectbtn">
        <span *ngIf="playerAvailable">
          <button type="button" (click)="performTransaction(biddingAmount)" class="btn btn-outline-secondary sold">Sell</button>
        </span>
        <button type="button" (click)="getNextCandidate()" class="btn btn-outline-secondary nextPlayer">Next Player</button>
      </div>

    </div>
  </div>
  <div class=" col-md-4 col-sm-6 ">
    <div class="formCard equal">
      <div class="playerInfo">
        <div class="row align-items-center">
          <div class="col-xl-4" style="padding-right:0">

            <!-- <img src="{{currentPlayer.imageUrl}}" class="rounded m-auto d-block" alt=""> -->
            <div class="player-img text-center">
              <img src="assets/images/placeholder.jpg" class="mx-auto d-block" alt="">
              <div class="pname">{{currentPlayer.name}}</div>

            </div>

          </div>
          <div class="col-xl-8">
            <div class="details">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td scope="row">Role </td>
                    <td>Batsman </td>
                  </tr>
                  <tr>
                    <td scope="row">Batting Style </td>
                    <td>Right Handed Bat </td>
                  </tr>
                  <tr>
                    <td scope="row">Bowling Style </td>
                    <td>Right-arm offbreak </td>
                  </tr>
                  <tr>
                    <td scope="row">Runs </td>
                    <td>2000 </td>
                  </tr>
                  <tr>
                    <td scope="row">Wickets </td>
                    <td>15</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-md-2 row-margin "></div>

</div>

<app-remaining-players></app-remaining-players>
<div class="container-fluid">
<div class="row">
    <div class="col" *ngFor="let team of ds.teamList;">
      <div class="heading-team">
        <div class="team-info">
          <a href="/teams" >{{team.name}} </a>
        </div>
        <!-- <button (onclick)="updatediv()">hide</button> -->
      </div>

      <div class="row">
        <div class="col-sm-5">
          <img src="assets/images/team{{team.tid%4}}.jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-sm-7" style="padding-left:0">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td scope="row">Rem Amt</td>
                <td> {{team.remainingAmount}}</td>
              </tr>
              <tr>
                <td scope="row">Res Amt</td>
                <td> {{team.reservedAmount}}</td>
              </tr>
              <tr>
                <td scope="row">NextBD Amt</td>
                <td> {{team.nextBidMaxAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


<!-- <app-teams></app-teams> -->