<app-header></app-header>
<div class="status-message">
  <div class="text-center">
    <p [ngClass]="(msg.type=='info')?'status-message-green':'status-message-red'">{{msg.message}}</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row  ">
    <div class=" col-md-6 ">
      <div class="row justify-content-md-center" *ngIf="hide">
        <!-- <div class="col-md-2"></div> -->
        <div class=" col-md-10 ">
          <div class="formCard equal">
            <div class="playerInfo">
              <div class="pname text-center pulse">{{currentPlayer.name | uppercase}}</div>
              <!-- <div class="row align-items-center">
                <div class="col-lg-4" style="padding-right:0">
                  <img src="{{currentPlayer.imageUrl}}" class="rounded m-auto d-block" alt="">
                  <div class="player-img text-center">
                    <img src="assets/images/ds.png" class="img-fluid" alt="">
                   
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="details">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td scope="row">Role </td>
                          <td>{{currentPlayer.role}} </td>
                        </tr>
                        <tr>
                          <td scope="row">Batting Style </td>
                          <td>{{currentPlayer.batting}} </td>
                        </tr>
                        <tr>
                          <td scope="row">Bowling Style </td>
                          <td>{{currentPlayer.bowling}} </td>
                        </tr>
                        <tr>
                          <td scope="row">Runs </td>
                          <td>{{currentPlayer.run}} </td>
                        </tr>
                        <tr>
                          <td scope="row">Wickets </td>
                          <td>{{currentPlayer.wicket}}</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
         
      </div>

      <div class="row justify-content-md-center" *ngIf="hide">
        <!-- <div class="col-md-2"></div> -->
        <div class=" col-md-10 col-btn">
          <div class="bidding equal" >
            <div class="bidding-form" >
              <label for="" class="biddin-amount text-center">Bidding Amount </label>
              <input [disabled]="!(ds.auctionStatus =='Started' &&  ds.isAdmin)" [(ngModel)]="biddingAmount" id="teamName">
              <br>
              <div class="row row-margin text-center" >
                <div *ngFor="let team of ds.teamList; let idx = index" class="col-sm-6 radio-one">
                  <input id="team-{{idx}}" [disabled]="!(ds.auctionStatus =='Started' &&  ds.isAdmin)" type="radio" name="radiogroup" (change)="onSelectionChange(team)" [value]="team.id">
                  <label for="team-{{idx}}">&emsp;&emsp;{{team.name}} </label>
                  <label for="team-{{idx}}" class="nextbidamt">NextBid Max Amount: {{team.nextBidMaxAmount}} </label>
                </div>
              </div>

            </div>

            <div class="selectbtn">
              <!-- *ngIf="playerAvailable" -->
              <span >
                <button type="button" [disabled]="!(ds.auctionStatus =='Started' &&  ds.isAdmin)" (click)="performTransaction(biddingAmount)" 
                class="btn btn-outline-secondary sold">Sell</button>
              </span>
              <button type="button"  (click)="getNextCandidate()" class="btn btn-outline-secondary nextPlayer">Next Player</button>
            </div>

          </div>

        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>

      <div class="row statsCol" *ngIf="!hide">
       <div>Highest Bid Player is {{highestBidPlayer.name}}</div>
       <div>Sold At Amount  {{highestBidPlayer.biddingAmount}} {{ds.auctionSettings.AuctionCurrency}} </div>
      </div>
    </div>

    <div class=" col-md-6  ">
    
      <!-- quick display of stats 
        <div class="row statsCol">
        <div>Highest Bid Player is {{highestBidPlayer.name}} - </div>
        <div>Sold At Amount  {{highestBidPlayer.biddingAmount}} {{ds.auctionSettings.AuctionCurrency}} </div>
       </div> -->

      <div class="row">
        <div class="col-lg-6" *ngFor="let team of ds.teamList;">
          <div class="team-pad">
            <div class="heading-team">
              <div class="team-info">
                <a href="/teams">{{team.name}} </a>
              </div>
              <!-- <button (onclick)="updatediv()">hide</button> -->
            </div>

            <div class="row">
              <div class="col-sm-5">
                <!-- <img src="assets/images/team{{team.tid%4}}.jpg" alt="" class="img-fluid mx-auto d-block"> -->
                <img src="assets/images/teamLogo/team{{team.tid%4}}.png" alt="" class="img-fluid mx-auto d-block">
              </div>
              <div class="col-sm-7">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td scope="row">Rem Amt</td>
                      <td> {{team.remainingAmount}}</td>
                    </tr>
                    <tr>
                      <td scope="row">Reserved Amt</td>
                      <td> {{team.reservedAmount}}</td>
                    </tr>
                    <tr>
                      <td scope="row">NextBid Max Amt</td>
                      <td> {{team.nextBidMaxAmount}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>

            <div>
              <div class="playerBought">Number Of Players Bought
                <span>[ {{team.numberOfPlayersBought}} ]</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-remaining-players></app-remaining-players>



<!-- <app-teams></app-teams> -->