
.equal {
    border: 1px solid rgb(68, 68, 68);
    height: 100%;
    width: 100%;
    box-shadow: inset 2px 2px 20px 2px;
}
.col-btn{
    margin-top: 1rem;
}
/* .row-margin {
    padding-left: 0px;
    padding-right: 0px;
} */
 
/*  start bedding palyer Information */

.bidding {
    width: 100%;
    border: 1px solid;
    color: #26bbb6;
    ;
}

.formCard {
    border: 1px solid;
    color: #26bbb6;
    ;
}

.details {
    color: black;
    /* padding-bottom: 12px; */
}

.col-top-bottom {
    margin: 20px 0px 20px 0;
}

.playerInfo {
    padding: 0.8em;
}

.player-img>img {
    
    border: 2px solid black;
    border-radius: 20px 1px 20px 0px;
}

.career {
    border: 1px solid;
    margin-left: 0;
    margin-right: 0;
}

.career .col-sm-6 {
    font-weight: 400;
    font-size: 1rem;
    height: 2rem;
}

.selectbtn {
    margin-top: 41px;
}

.selectbtn .nextPlayer {
    /* border-radius: 8px 0px 0px 8px; */
    /* float: right; */
    width: 9rem;
    /* height: 1.9em; */
    font-size: 1.2rem;
    position: absolute;
    bottom: 5px;
    right: 30px;
}

.selectbtn .sold {
    /* border-radius: 0px 8px 8px 0px; */
    width: 9rem;
    /* height: 1.9em; */
    font-size: 1.2rem;
    position: absolute;
    bottom: 5px;
    left: 30px;
}

.btn-outline-secondary {
    border-color: #2e96c8;
    color: #3c4ee9;
}

.btn-outline-secondary:hover {
    color: #fff;
    background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%);
    border-color: #27b5b9;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus{
    box-shadow: 0 0 0 0.2rem rgba(39, 176, 187, 0.58);
}
.secondary:not(:disabled):not(.disabled):active{
    background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%);
    border-color: #27b5b9;
}
.table td {
    padding: .2rem;
    text-align: center;
}

.pname {
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    color: #0085ff;
}

.pname:hover {
    overflow: visible;
}

.bidding-form {
    color: black;
    padding: 5px;
}

/* =================== */

#teamName {
    border-radius: 6px;
    padding: 0px;
    box-shadow: inset 0px 0px 5px 1px #26bbb6;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    outline: none;
    /* margin: 3px 0 10px; */
    width: 86%;
    margin: 0 auto;
    display: block;
}

.biddin-amount {
    border-bottom: 1px solid;
    width: 100%;
    font-size: 1.3rem;
}

/* ===================== */

/* ++++++++++++++++++++++++++++++ */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #12c900;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ================================================ */
.alert p{
    position: relative;
    padding: 0rem 1.25rem;
    border: 1px solid transparent;
}
 
.alerts{
    color: #f21126 !important;
    background-color: transparent;
    border-color: transparent;
}

@media (max-width:768px){
    .img-fluid{
        width: 50%
    }
    .status-message[_ngcontent-c1] p[_ngcontent-c1]{
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .selectbtn .nextPlayer {
        right: 50px;
    }
    .selectbtn .sold {
        left: 50px;
    }
    
}

@media (min-width: 576px) and (max-width:1125px) {
    .selectbtn {
        text-align: center;
    }
    .selectbtn .nextPlayer {
        position: static;
        right: 50px;
        width: 84%;
        margin: 6px;
    }
    .selectbtn .sold {
        position: static;
        left: 50px;
        margin: 6px;
        width: 84%;
    }
}

@media only screen and (max-width: 320px) {
    .selectbtn .nextPlayer {
        width: 8rem;
    }
    .selectbtn .sold {
        width: 8rem;
    }
}


.status-message div2 {
    display: inline;
    margin:0;
}
.status-message p {
    font-size: 1.3rem;
    border: 2px solid;
    display:inline-block;
    padding: 2px 10px;
    margin-top: 0px;
    margin-bottom: 8px;
    border-radius: 15px;
}

.status-message-red {
    border-color: red;
    /* background-color: #80fc80;  */
    color: red;
}
.status-message-green {
    border-color: green;
    /* background-color: #80fc80;  */
    color: green;
}
/* mini team Components css */
.heading-team{
    background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%);
    margin: -2px -2px 15px -2px;
    box-shadow: 3px 4px 18px 0px;
}
 
.team-info{
    text-align: center;
    /* border: 1px solid; */
    border-radius: 4px;
    font-size: 1.4rem;
    color:white;
}

.team-info a {
    color: white;
    display: block;
    text-decoration: none;
}

.table td{
    padding: .2rem;
    text-align: center;
}

.table-bordered td, .table-bordered th{
    border: 1px solid  #26bbb6;
}

.playerBought{
    font-weight: 600;
font-size: 1.2rem;
text-align: center; 
}
.team-pad{
    border: 2px solid aquamarine;
    margin: 3px;
    box-shadow: 0px 0px 7px -1px;
}
 