.equal {
  border: 1px solid rgb(68, 68, 68);
  height: 100%;
  width: 100%;
  /* box-shadow: inset 2px 2px 20px 2px; */
  /* box-shadow: 0px 6px 14px -8px; */
}

@keyframes pulse_animation {
  0% {
      transform: scale(1);
  }
  30% {
      transform: scale(1);
  }
  40% {
      transform: scale(1.08);
  }
  50% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  70% {
      transform: scale(1.05);
  }
  80% {
      transform: scale(1);
  }
  100% {
      transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 3000ms;
  /* transform-origin: 70% 70%; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.col-btn {
  margin-top: 0.1rem;
}

.row-margin {
    margin-left: 0px;
    margin-right: 0px;
}

/*  start bedding palyer Information */

.bidding {
  width: 100%;
  border: 1px solid;
  color: #0288D1;
  box-shadow: inset 0px -8px 10px 0px;
  ;
}

.nextbidamt {
  margin-left: 34px;
  font-size: 0.9rem;
}

.formCard {
  border: 1px solid;
  color: #0288D1;
  box-shadow: inset 0px 8px 10px 0px;
}

.details {
  color: black;
  /* padding-bottom: 12px; */
}

.col-top-bottom {
  margin: 20px 0px 20px 0;
}

.playerInfo {
  padding: 0.8em;
}

.player-img>img {
  border: 2px solid black;
  border-radius: 20px 1px 20px 0px;
}

.career {
  border: 1px solid;
  margin-left: 0;
  margin-right: 0;
}

.career .col-sm-6 {
  font-weight: 400;
  font-size: 1rem;
  height: 2rem;
}

.selectbtn {
  margin-top: 53px;
}

.selectbtn .nextPlayer {
  /* border-radius: 8px 0px 0px 8px; */
  /* float: right; */
  width: 12rem;
  /* height: 1.9em; */
  font-size: 1.2rem;
  position: absolute;
  bottom: 18px;
  right: 30px;
  box-shadow: 0px 6px 14px -8px;
}

.selectbtn .sold {
  /* border-radius: 0px 8px 8px 0px; */
  width: 12rem;
  /* height: 1.9em; */
  font-size: 1.2rem;
  position: absolute;
  bottom: 18px;
  left: 30px;
  box-shadow: 0px 6px 14px -8px;
}

.btn-outline-secondary {
  border-color: #2e96c8;
  color: #3c4ee9;
}

.btn-outline-secondary:hover {
  color: #fff;
  /* background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%); */
  background:#03A9F4; 
  border-color: #03A9F4;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 176, 187, 0.58);
}

.secondary:not(:disabled):not(.disabled):active {
  background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%);
  border-color: #27b5b9;
}

.table td {
  padding: .2rem;
  text-align: center;
}

.pname {
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  /* color: #17277b; */
  background: -webkit-linear-gradient(blue, aqua);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.pname:hover {
  overflow: visible;
}

.bidding-form {
  color: #666;
  padding: 20px 1px;
}

/* =================== */

#teamName {
  border-radius: 6px;
  padding: 5px;
  box-shadow: inset 0px 0px 5px 1px #0288D1;
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  outline: none;
  /* margin: 3px 0 10px; */
  width: 90%;
  margin: 0 auto;
  display: block;
  color: #666;
}

.biddin-amount {
  border-bottom: 1px solid;
  width: 100%;
  font-size: 1.3rem;
  
}

/* ===================== */

/* ++++++++++++++++++++++++++++++ */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  padding-left: 0px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #12c900;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ================================================ */

.alert p {
  position: relative;
  padding: 0rem 1.25rem;
  border: 1px solid transparent;
}

.alerts {
  color: #f21126 !important;
  background-color: transparent;
  border-color: transparent;
}

@media (max-width:768px) {
  .img-fluid {
    width: 50%
  }
  .status-message[_ngcontent-c1] p[_ngcontent-c1] {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .selectbtn .nextPlayer {
    right: 50px;
  }
  .selectbtn .sold {
    left: 50px;
  }
}

@media (min-width: 576px) and (max-width:1125px) {
  .selectbtn {
    text-align: center;
  }
  .selectbtn .nextPlayer {
    position: static;
    right: 50px;
    width: 84%;
    margin: 6px;
  }
  .selectbtn .sold {
    position: static;
    left: 50px;
    margin: 6px;
    width: 84%;
  }
}

@media only screen and (max-width: 448px) {
  .selectbtn .nextPlayer {
    width: 8rem;
  }
  .selectbtn .sold {
    width: 8rem;
  }
}

.status-message div2 {
  display: inline;
  margin: 0;
}

.status-message p {
  font-size: 1.3rem;
  border: 2px solid;
  display: inline-block;
  padding: 2px 10px;
  margin-top: 0px;
  margin-bottom: 8px;
  border-radius: 15px;
}

.status-message-red {
  border-color: red;
  /* background-color: #80fc80;  */
  color: red;
}

.status-message-green {
  border-color: green;
  /* background-color: #80fc80;  */
  color: green;
  font-weight: 600;
}

/* mini team Components css */

.heading-team {
  /* background: linear-gradient(141deg, #4136f4 6%, #1fdba7 66%); */
  background: #0288D1;
  margin: -2px -2px 15px -2px;
  box-shadow: 3px 4px 18px 0px;
}

.team-info {
  text-align: center;
  /* border: 1px solid; */
  border-radius: 4px;
  font-size: 1.3rem;
  color: white;
}

.team-info a {
  color: white;
  display: block;
  text-decoration: none;
}

.table td {
  padding: .2rem;
  text-align: center;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #26bbb6;
}

.playerBought {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 8px;
}

.playerBought span {
  color: red;
  padding-left: 25px;
  font-weight: 700;
  font-size: 1rem;
}

.team-pad {
  border: 2px solid #0288D1;
  margin: 3px;
  box-shadow: 0px 0px 7px -1px;
}

.radio-one {
  margin-bottom: 18px;text-align: left;
  padding: 0 0 0 26px;
}
.statsCol{
  font-size: 1.5rem;
font-weight: 700;
color: green;
margin-top: 49px;
margin-left: 57px;

}