<div class="wrap">
<div class="body">
  <div class="row">
    <div class="col-md-2">
        <div id="upper_left"></div>
    </div>
    <div class="col-md-8">
        <div class="page_wrap ">
            <div class="title light ">
                <p class=" "> Introducing the New</p>
                <span>
                    Auction Managment
                </span> &mdash; Tournament Auction &mdash;

            </div>
            <a class="button pulse " (click)="navigatepage()">
                <span class=""> Enter Arena</span>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div id="upper_right"></div>
    </div>
</div></div></div>